<%= form_with(model: reserf) do |form| %>
  <% if reserf.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(reserf.errors.count, "error") %> prohibited this reserf from being saved:</h2>

      <ul>
        <% reserf.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :girl_id, style: "display: block" %>
    <%= form.collection_select(:girl_id, @girls, :id, :name) %>
  </div>

  <div>
    <%= form.label :schedule_id, style: "display: block" %>
    <%= form.number_field :schedule_id %>
  </div>

  <div>
    <%= form.label :reserve_start, style: "display: block" %>
    <%= form.time_field :reserve_start %>
  </div>

  <div>
    <%= form.label :reserve_finish, style: "display: block" %>
    <%= form.time_field :reserve_finish %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
