<div id="<%= dom_id booking %>">
  <p>
    <strong>Girl:</strong>
    <%= booking.girl_id %>
  </p>
  <p>
  <strong>名前:</strong>
  <%= booking.girl.name %>
</p>
<p>
<strong>登録日:</strong>
<%= booking.created_at %>
</p>

  <p>
    <strong>Reserve start:</strong>
    <%= booking.reserve_start %>
    <%= booking.reserve_start.strftime('%H時%M分') %>
  </p>

  <p>
    <strong>Reserve finish:</strong>
    <%= booking.reserve_finish %>
    <%= booking.reserve_finish.strftime('%H時%M分') %>
  </p>

  <% current_hour = Time.now.hour %>
  <% current_min = Time.now.min %>
  <% reserve_finish_hour = booking.reserve_finish.hour %>
  <% reserve_finish_min = booking.reserve_finish.min %>
  <% reserve_start_hour = booking.reserve_start.hour %>
  <% reserve_start_min = booking.reserve_start.min %>
  <% time_left_hour = reserve_finish_hour - current_hour%>
  <% time_left_time = time_left_hour * 60 + reserve_finish_min - current_min %> 
  
  <p>
  <strong>即ヒメ:</strong>
  <% if current_hour >= reserve_start_hour && current_min >= reserve_start_min && time_left_time > 0 %>
    残り時間<%= time_left_time %>分
  <% else %>
   今すぐ遊べます
  <% end %>
  </p>  

</div>
