<div id="<%= dom_id user %>">
  <p>
    <strong>名前</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>メールアドレス</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>電話番号</strong>
    <%= user.login %>
  </p>

  <p>
    <strong>誕生日</strong>
    <%= user.birthday %>
  </p>

  <p>
    <strong>都道府県</strong>
    <%= user.address %>
  </p>

  <p>
    <strong>希望内容</strong>
    <%= user.message %>
  </p>

</div>
