<%= stylesheet_link_tag "event", :media => "all" %>
<%= stylesheet_link_tag "abcd", :media => "all" %>
<div class="mx-3 my-4 main-container">イベント</div>


<% if @a.category_one == "option2" %>

  <div class="picture"><%= image_tag '1688688858.jpg' , class:"d-block mx-auto gazou" %></div>
  <div class="event_setumei"> 
    <div class="shinwari">★今だけ限定価格★</div>
    <div><span class="event_pun">60</span>分<span class="event_money">9,800</span>円</div>
    <div><span class="event_pun">75</span>分<span class="event_money">11,000</span>円</div>
    <div><span class="event_pun">90</span>分<span class="event_money">15,000</span>円</div>
    <div>※指名料・出張費別途</div>
    <div>ハプニングが起きた際は</div>
    <div>他言無用で♡</div>
  </div>

<% end %>

<% if @a.category_one == "option3" %>

  <div class="picture"><%= image_tag '2718.jpg' , class:"d-block mx-auto gazou" %></div>
  <div class="event_setumei">
    <div class="shinwari">月間イベント</div>
    <div>月間イベント開催中！</div>
    <div><span class="event_pun">50</span>分<span class="event_money">9500</span>円</div>
    <div><span class="event_pun">70</span>分<span class="event_money">12000</span>円</div>
    <div><span class="event_pun">80</span>分<span class="event_money">14500</span>円</div>
    <div><span class="event_pun">100</span>分<span class="event_money">17500</span>円</div>
    <div>初回予約無料</div>
    <div>本指名・来店指名+2000円</div>
  </div>

<% end %>



<% if @a.category_two == "option2" %>

  <div class="picture"><%= image_tag '2718.jpg' , class:"d-block mx-auto gazou" %></div>
  <div class="event_setumei">
    <div class="shinwari">月間イベント</div>
    <div>月間イベント開催中！</div>
    <div><span class="event_pun">50</span>分<span class="event_money">9500</span>円</div>
    <div><span class="event_pun">70</span>分<span class="event_money">12000</span>円</div>
    <div><span class="event_pun">80</span>分<span class="event_money">14500</span>円</div>
    <div><span class="event_pun">100</span>分<span class="event_money">17500</span>円</div>
    <div>初回予約無料</div>
    <div>本指名・来店指名+2000円</div>
  </div>

<% end %>
<% if @a.category_two == "option3" %>

  <div class="picture"><%= image_tag '2133.jpg' , class:"d-block mx-auto gazou" %></div>
  <div class="event_setumei">
    <div class="shinwari">◆新人割◆</div>
    <div class="nyuutenn">入店２ヵ月以内の特別価格</div>
    <div class="hoshi">☆*★*☆*★*☆*★</div>
    <div><span class="event_pun">70</span>分　 <span class="event_money">11,500</span>円</div>
    <div><span class="event_pun">80</span>分　 <span class="event_money">13,500</span>円</div>
    <div><span class="event_pun">90</span>分　 <span class="event_money">15,500</span>円</div>
    <div class="kanzen">完全ポッキリ価格</div>
    <div class="shokai">※初回ご予約無料</div>
    <div class="betsu">別途特別指名料 </div>
    <div class="hoshi">☆*★*☆*★*☆*★</div>
  </div>
<% end %>
