<%= stylesheet_link_tag "plan", :media => "all" %>
<%= stylesheet_link_tag "abcd", :media => "all" %>
<div class="mx-3 my-4 main-container">出勤情報</div>
<div class="row px-4 hiduke">
<div class="col text-center hiduke1">
<p><a href="/plan/<%= @to %>"><%= @to.strftime('%m月%d日') %>(<%= @DAT_OF_WEEK[@to.wday] %>)</a></p>
</div>
<div class="col text-center hiduke2">
<p><a href="/plan/<%= @to1 %>"><%= @to1.strftime('%m月%d日') %>(<%= @DAT_OF_WEEK[@to1.wday] %>)</a></p>
</div>
<div class="col text-center hiduke3">
<p><a href="/plan/<%= @to2 %>"><%= @to2.strftime('%m月%d日') %>(<%= @DAT_OF_WEEK[@to2.wday] %>)</a></p>
</div>
<div class="col text-center hiduke4">
<p><a href="/plan/<%= @to3 %>"><%= @to3.strftime('%m月%d日') %>(<%= @DAT_OF_WEEK[@to3.wday] %>)</a></p>
</div>
<div class="col text-center hiduke5">
<p><a href="/plan/<%= @to4 %>"><%= @to4.strftime('%m月%d日') %>(<%= @DAT_OF_WEEK[@to4.wday] %>)</a></p>
</div>
<div class="col text-center hiduke6">
<p><a href="/plan/<%= @to5 %>"><%= @to5.strftime('%m月%d日') %>(<%= @DAT_OF_WEEK[@to5.wday] %>)</a></p>
</div>
<div class="col text-center hiduke7">
<p><a href="/plan/<%= @to6 %>"><%= @to6.strftime('%m月%d日') %>(<%= @DAT_OF_WEEK[@to6.wday] %>)</a></p>
</div>
</div>

    <div id="pl">
      <% @plan.in_groups_of(4, false) do |today_group| %>

        <div class="d-flex flex-row pl-2">
        <% today_group.each do |t| %>

          <div class="d-flex flex-column p-3 waku">
                <div class="text-center syukkin">
                 <p>次回出勤予定日</p>
                 <div class ="m-2 yotei">
                 <% a = Schedule.where(girl_id: t.girl.id, work_day: Date.today .. Date.today+10).order(work_day: :asc).first %>
                 <%= a.work_day.strftime('%m月%d日') %>
                 <%= a.start_time.strftime('%H時%M分') %>~
                 <%= a.finish_time.strftime('%H時%M分') %>
                 </div>
               </div>
               <a href="/girls/<%= t.girl.id %>">
   
               <div class="text-center">
                 <%= image_tag(t.girl.girl_picture_url(:thumb), width:'100%') %>
               </div>
    
               <div class="text-center">
                 <%= t.girl.name %> &nbsp;(<%= t.girl.age %>) 
               </div>
               <div class="text-center">
                 T<%= t.girl.height %>&nbsp;B<%= t.girl.bust %>(<%= t.girl.bust_cup %>)&nbsp;W<%= t.girl.waist %>&nbsp;H<%= t.girl.hip %>
               </div>
               <div class="tags">
      <div class= "row">
        <div class= "col text-center p-1 m-1 bg-white tagb"><%= t.girl.tag_a %></div>
        <div class= "col text-center p-1 m-1 bg-white tagb"><%= t.girl.tag_b %></div>
      </div>
      <div class= "row">
         <div class= "col text-center p-1 m-1 bg-white tagb"><%= t.girl.tag_c %></div>
         <div class= "col text-center p-1 m-1 bg-white tagb"><%= t.girl.tag_d %></div>
        </div>
     </div>
     <div class="d-flex flex-row text-center mt-2 price">
     <div class="col label">特別指名料</div>
     <div class="col amount"><%= t.girl.nomination_fee.to_s.reverse.gsub(/(\d{3})(?=\d)/, '\1,').reverse %>円</div>
   </div>

           </div>
           </a>
           <% end %>
       </div>
       <% end %>
   </div>
   